p {
    margin: 0;
    padding: 0;
}

/* features */
.feature_1 {
    position: absolute;
    top: 188px;
    left: 15%;
    white-space: nowrap
}

.feature_2 {
    position: absolute;
    top: 337px;
    left: 15%;
    white-space: nowrap
}

.feature_3 {
    position: absolute;
    top: 486px;
    left: 17%;
    white-space: nowrap
}

.feature_4 {
    position: absolute;
    top: 131px;
    right: 16%;
    white-space: nowrap
}

.feature_5 {
    position: absolute;
    top: 280px;
    right: 18%;
    white-space: nowrap
}

.feature_6 {
    position: absolute;
    top: 429px;
    right: 12%;
    white-space: nowrap
}

.feature_7 {
    position: absolute;
    top: 578px;
    right: 17%;
    white-space: nowrap
}

.feature_8 {
    position: absolute;
    top: 635px;
    left: 12%;
    white-space: nowrap
}

#page7-div p {
    position: absolute;
    white-space: nowrap
}

.para_1 {
    top: 363px;
    left: 0;
    max-width: 100%;
    text-align: center;
    right: 0;
    margin: auto;
}

.para_2 {
    top: 436px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    text-align: center;
}

.para_3 {
    top: 509px;
    left: 0;
    right: 0;
    max-width: 100%;
    text-align: center;
    margin: auto;
}

/* SCHEDULING */


.ft10 {
    font-size: 19px;
    font-family: Times;
    color: #0d3a5c;
}

.ft11 {
    font-size: 103px;
    font-family: Times;
    color: #0d3a5c;
}

.ft20 {
    font-size: 70px;
    font-family: Times;
    color: #ffffff;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    max-width: 400px;
    margin: auto;
    white-space: nowrap
}

.ft21 {

    font-size: 22px;
    font-family: Times;
    color: #ffffff;
}



.ft50 {
    font-size: 43px;
    font-family: Times;
    color: #707d74;
}

.page_no {
    font-size: 16px;
    font-family: Times;
    color: #000000;
    text-align: center;
    position: absolute;
    top: 23px;
    left: 0;
    right: 0;
    width: 150px;
    margin: auto;
    white-space: nowrap
}

.section_bg {
    width: 100%;
}

.section_heading {
    position: absolute;
    top: 95px;
    left: 0;
    right: 0;
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.ft60 {
    font-size: 43px;
    font-family: Times;
    color: #ffffff;
}



.ft70 {
    font-size: 70px;
    font-family: Times;
    color: #ed91e4;
}

.top_5 {
    position: absolute;
    top: 185px;
    left: 180px;
    white-space: nowrap
}

.emrs {
    position: absolute;
    top: 293px;
    left: 180px;
    white-space: nowrap
}

.Alkhalifi {
    position: absolute;
    top: 431px;
    left: 180px;
    white-space: nowrap
}

.hero_bg {}


.section_main {
    position: relative;
    width: 100%;
    height: 864px;
}

.hyper_external div {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: nowrap;
    margin-top: 40px;


}

.hyper_external a {
    color: #000000;
    text-decoration: none;
    font-size: 25px;
    border: 1px solid rgb(130, 124, 124);
    border-radius: 20px;
    padding: 5px 11px;
    width: 161px;
    white-space: nowrap;
    text-align: center;

}